// Шрифты

@import "./static/fonts/Montserrat.css";
@import "./static/fonts/Open_Sans.css";


// Миксины

@import "./components/mixin_OpenSans.scss";
@import "./components/Button.scss";
@import "./components/Socials.scss";
@import "./components/FormInputs.scss";

$commonColor: #A406CC;


body {
    margin: 0;
    background: rebeccapurple;
}

#container_1 {
    display: flex;
    justify-content: center;
    background: url('./static/images/Background_1.jpg') top/cover;
    padding-top: 195px;
    padding-bottom: 167px;

    section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1110px;
        max-width: 1110px;
        color: #fff;

        .author {
            width: 494px;

            h2 {
                margin-top: 9px;
                margin-bottom: 0;
                @include OpenSans(16px, normal, 16px);
            }

            h1 {
                font-family: Montserrat, sans-serif;
                font-weight: 900;
                font-size: 48px;
                line-height: 53px;
                margin: 12px 0;
            }

            h3 {
                @include OpenSans(14px, normal, 14px);
                margin-bottom: 25px;
            }

            p {
                @include OpenSans(14px, normal, 29px);
                margin-bottom: 85px;
            }

            #contactButton {
                @include Button;
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;
            width: 185px;
            @include OpenSans(14px, normal, 29px);
            text-align: justify;

            .mail {
                display: flex;
                align-items: center;
                margin-bottom: 4px;

                a {
                    @include OpenSans(14px, normal, 29px);
                    text-decoration: none;
                    color: #fff;
                }

                .icon_mail {
                    background: url('./static/images/icon-mail.png') no-repeat;
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                }
            }

            .phone {
                display: flex;
                align-items: center;
                margin-bottom: 42px;

                a {
                    @include OpenSans(14px, normal, 29px);
                    text-decoration: none;
                    color: #fff;
                }

                .icon_phone {
                    background: url('./static/images/icon-phone.png') no-repeat;
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                }
            }

            .socials {
                width: 160px;
                @include Socials;

                h3 {
                    @include OpenSans(13px, bold, 29px);
                    margin-top: 0;
                    margin-bottom: 5px;
                    width: 100%;
                    text-align: left;
                }
            }

            #contactButtonAdaptive {
                display: none;
            }
        }

        .next {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 63px;

            .mouseWrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 60px;
                height: 60px;
                background: $commonColor;
                box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
                border-radius: 30px;
            }

            .icon_mouse {
                background: url('./static/images/Mouse.png') no-repeat;
                width: 15px;
                height: 26px;
            }
        }
    }
}

#container_2 {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 108px;
    z-index: 100;

    .matrix {
        position: absolute;
        top: -82px; bottom: -160px; left: 0; right: 0;
        background: #fff;
        transform: matrix(1, -0.11, 0, 1, 0, 0);
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1100px;
        max-width: 1100px;
        color: #000;

        h2 {
            position: relative;
            box-sizing: border-box;
            padding-left: 22px;
            @include OpenSans(36px, 800, 39px);
            margin-bottom: 90px;
            text-align: center;

        }

        .card_wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 60px;
                &:hover .tooltip {
                    opacity: 1;
                }

                .item {
                    display: flex;
                    align-items: center;
                    font-weight: bold;

                    text-decoration: none;
                    @include OpenSans(22px, bold, 24px);
                    color: #000;
                    border-radius: 6px;
                    padding: 15px 20px 15px 0;
                    transition: 500ms;
                    &:hover {
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
                    }

                    .icon_key {
                        background: url('./static/images/Skripichnyj_kljuch.png') no-repeat;
                        width: 64px;
                        height: 64px;
                    }
                }

                .tooltip {
                    position: absolute;
                    bottom: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    opacity: 0;
                    pointer-events: none;
                    transition: 500ms;

                    .text {
                        display: flex;
                        flex-direction: column;
                        padding: 20px 30px;
                        background: #EEE;
                        border-bottom-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                        width: 250px;

                        h4 {
                            @include OpenSans(16px, 800, 24px);
                            margin: 0 0 15px;

                        }

                        p {
                            @include OpenSans(12px, normal, 21px);
                            margin: 0;
                        }
                    }

                    .triangle {
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid #EEE;
                    }
                }
            }
        }

        .top {
            box-sizing: border-box;
            padding-right: 20px;
            width: 98%;
        }
        .bottom {
            box-sizing: border-box;
            padding-left: 50px;
            width: 90%;
        }
    }
}

#container_3 {
    display: flex;
    justify-content: center;
    background: url('./static/images/Background_2.jpg') top/cover no-repeat;
    background-position-y: 45px;
    color: #fff;
    padding-top: 370px;
    padding-bottom: 140px;
    position: relative;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1125px;
        max-width: 1125px;

        h2 {
            @include OpenSans(36px, 800, 39px);
            margin-top: 0;
            margin-bottom: 80px;
            box-sizing: border-box;
            padding-right: 13px;
        }

        article {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;

            .wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 110px;

                .photo {
                    background: url('./static/images/Client_photo.png') no-repeat;
                    background-size: contain;
                    width: 239px;
                    height: 250px;
                    margin-bottom: 31px;
                }

                #slider {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #number {
                    @include OpenSans(24px, 800, 30px);
                        margin-right: 17px;
                    }

                    #left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $commonColor;
                        width: 32px;
                        height: 32px;
                        margin-right: 7px;
                        cursor: pointer;

                        .icon_stroke {
                            background: url('./static/images/Stroke.png') no-repeat;
                            width: 10px;
                            height: 17px;
                            transform: rotate(180deg);
                        }
                    }

                    #right {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $commonColor;
                        width: 32px;
                        height: 32px;
                        cursor: pointer;

                        .icon_stroke {
                            background: url('./static/images/Stroke.png') no-repeat;
                            width: 10px;
                            height: 17px;
                        }
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: wrap;
                width: 750px;

                address {
                    font-style: normal;
                    padding-bottom: 23px;
                    border-bottom: 1px solid #fff;
                    @include OpenSans(18px, bold, 20px);
                }

                p {
                    @include OpenSans(16px, normal, 35px);
                    margin-top: 30px;
                    margin-bottom: 95px;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 68px;
                    height: 40px;
                    text-decoration: none;
                    color: #fff;
                    transition: 500ms;
                    @include OpenSans(12px, normal, 0);
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
                .vk {
                    background-color: steelblue;
                }
            }
        }
    }
}


//                                                 Модальное окно

#modalWindow {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(#000, 0.5);
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 101;

    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #fff;
        padding: 120px 90px 120px 110px;
        box-sizing: border-box;
        width: 100%;
        height: 893px;
        overflow-y: auto;
        overflow-x: hidden;

        .form {
            display: flex;
            flex-direction: column;
            width: 445px;

            .header {
                @include OpenSans(36px, 800, 39px);
                margin-top: 65px;
                margin-bottom: 62px;
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    font-family: "Segoe UI", serif;
                    display: block;
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    margin-bottom: 8px;
                }

                input {
                    height: 40px;
                    @include FormInputs;
                    margin-bottom: 28px;
                }

                textarea {
                    height: 140px;
                    @include FormInputs;
                    resize: none;
                }

                button {
                    width: 255px;
                    height: 46px;
                    background: $commonColor;
                    box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
                    border-radius: 6px;
                    cursor: pointer;
                    color: #fff;
                    text-align: center;
                    @include OpenSans(14px, normal, 46px);
                    border-width: 0;

                    margin-top: 25px;
                    margin-bottom: 28px;
                }
            }

            p {
                @include OpenSans(14px, normal, 14px);
                margin: 0 0 13px;
            }

            .socials {
                width: 310px;
                @include Socials;
                flex-wrap: nowrap;

                a {
                    width: 59px;
                }
            }
        }

        .wrapper {
            display: flex;

            .piano {
                width: 771px;
                height: 893px;
                background: url('./static/images/Grand_piano.jpg') no-repeat;
                background-size: contain;
            }

            #cross {
                width: 34px;
                height: 34px;
                background: url('./static/images/Cross.png') no-repeat;
                background-size: contain;
                cursor: pointer;
            }
        }
    }
}

#modalWindow.active {
    pointer-events: auto;
    opacity: 1;
}


//                                                 кнопка "ВВерх"

#upButton {
    position: fixed;
    bottom: 40px; right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    background: $commonColor;
    box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
    border-radius: 30px;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    z-index: 101;

    .icon_stroke {
        background: url('./static/images/Stroke.png') no-repeat;
        width: 10px;
        height: 17px;
        transform: rotate(270deg);
    }
}

#upButton.active {
    opacity: 1;
    pointer-events: auto;
}



//                                                  Медиа-запрос до 679 пикселей


@media screen and (max-width: 499px) {

    #container_1 {
        /*display: flex;
        justify-content: center;
        background: url('./static/images/Background_1.jpg') top/cover;
        padding-bottom: 100px;*/
        padding-top: 70px;
        padding-bottom: 90px;
        background-position-x: 0;

        section {
            /*display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            color: #fff;*/
            width: 87%;

            .author {
                width: 100%;

                /*h2 {
                    margin: 0;
                    @include OpenSans(16px, normal, 16px);
                }*/

                h1 {
                    /*font-family: Montserrat, sans-serif;
                    font-weight: 900;
                    line-height: 53px;
                    margin: 20px 0;*/
                    line-height: 40px;
                    font-size: 36px;
                    margin: 25px 0;
                }

                h3 {
                    @include OpenSans(14px, normal, 14px);
                    margin-bottom: 35px;
                }

                /*p {
                    @include OpenSans(14px, normal, 29px);
                    margin-bottom: 40px;
                }*/

                #contactButton {
                   /* @include Button;*/
                    width: 100%;
                }
            }

            .contacts {
                /*display: flex;
                flex-direction: column;
                width: 214px;
                @include OpenSans(14px, normal, 29px);
                text-align: justify;*/
                width: 100%;
                margin-top: 30px;
                align-items: center;

                .socials {
                    /*@include Socials;*/
                    width: 100%;
                    justify-content: center;

                    a {
                        width: 90%;
                        font-size: 13px;
                    }

                    h3 {
                        /*@include OpenSans(14px, bold, 29px);
                        margin-top: 0;
                        margin-bottom: 10px;*/
                        text-align: center;
                    }
                }
            }

            .next {
                margin-top: 30px;
            }
        }
    }

    #container_2 {
        padding-top: 30px;

        .matrix {
            top: -52px; bottom: -92px; left: 0; right: 0;
        }

        section {
            width: 87%;

            h2 {
                margin-bottom: 50px;
                font-size: 26px;
                line-height: 26px;
                box-sizing: inherit;
                padding-left: 0;
            }

            .card_wrapper {
                justify-content: flex-start;

                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 35px;
                    width: 100%;
                    &:hover .tooltip {
                        opacity: 1;
                    }

                    .item {
                        justify-content: flex-start;
                        font-size: 18px;
                        width: 100%;
                        padding-right: 0;

                        .item_text {
                            width: 70%;
                        }
                    }
                }
            }
            .top {
                padding-right: 0;
                width: 100%;
            }
            .bottom {
                padding-left: 0;
                width: 100%;
            }
        }
    }

    #container_3 {
        /*display: flex;
        justify-content: center;
        background: url('./static/images/Background_2.jpg') top/cover;
        color: #fff;
        padding-top: 250px;
        padding-bottom: 100px;
        position: relative;*/
        padding-top: 190px;
        padding-bottom: 70px;

        section {
            /*display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1110px;*/
            width: 87%;

            h2 {
                /*@include OpenSans(36px, 800, 39px);
                margin-bottom: 60px;*/
                margin-bottom: 90px;
                padding: 0;
                font-size: 26px;
                line-height: 26px;
                text-align: center;
            }

            article {
                /*display: flex;
                align-items: flex-start;
                flex-wrap: wrap;*/

                .wrapper {
                    /*display: flex;
                    flex-direction: column;
                    align-items: center;*/
                    margin-right: 0;
                    width: 100%;

                    .photo {
                        /*background: url('./static/images/Client_photo.png') no-repeat;
                        background-size: contain;
                        width: 239px;
                        height: 250px;
                        margin: 0 60px 50px;*/
                        margin: 0 0 30px;
                    }

                    /*#slider {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        #number {
                            @include OpenSans(30px, 800, 30px);
                            margin-right: 10px;
                        }

                        #left {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: $commonColor;
                            width: 30px;
                            height: 30px;
                            margin-right: 8px;
                            cursor: pointer;

                            .icon_stroke {
                                background: url('./static/images/Stroke.png') no-repeat;
                                width: 10px;
                                height: 17px;
                                transform: rotate(180deg);
                            }
                        }

                        #right {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: $commonColor;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;

                            .icon_stroke {
                                background: url('./static/images/Stroke.png') no-repeat;
                                width: 10px;
                                height: 17px;
                            }
                        }
                    }*/
                }

                .content {
                    /*display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    width: 750px;*/
                    width: 100%;
                    margin-top: 50px;

                    /*address {
                        font-style: normal;
                        padding-bottom: 15px;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                        @include OpenSans(18px, bold, 20px);
                    }

                    p {
                        @include OpenSans(16px, normal, 35px);
                        margin-top: 40px;
                        margin-bottom: 80px;
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 75px;
                        height: 40px;
                        text-decoration: none;
                        color: #fff;
                        @include OpenSans(12px, normal, 0);
                    }
                    .vk {
                        background-color: steelblue;
                    }*/
                }
            }
        }
    }

    #modalWindow {

        > div {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 20px 30px;

            .form {
                width: 100%;
                margin-right: 0;

                .header {
                    font-size: 30px;
                    line-height: 30px;
                    margin-top: 0;
                }

                form {

                    button {
                        margin-bottom: 26px;
                        width: 100%;
                        margin-top: 30px;
                    }
                }

                .socials {
                    width: 100%;
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    a {
                        width: 45%;
                        font-size: 12px;
                    }
                }
            }

            .wrapper {
                position: absolute;
                top: 24px; right: 20px;

                .piano {
                    display: none;
                }

                #cross {
                    width: 24px;
                    height: 24px;
                    /*background: url('./static/images/Cross.png') no-repeat;
                    background-size: contain;
                    cursor: pointer;*/
                }
            }
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 679px) {

    #container_1 {
        padding-top: 70px;
        padding-bottom: 90px;
        background-position-x: 0;

        section {
            width: 87%;

            .author {
                width: 100%;

                h1 {
                    line-height: 40px;
                    font-size: 36px;
                    margin: 25px 0;
                }

                h3 {
                    @include OpenSans(14px, normal, 14px);
                    margin-bottom: 35px;
                }

                #contactButton {
                    width: 100%;
                }
            }

            .contacts {
                width: 100%;
                margin-top: 30px;
                align-items: center;

                .socials {
                    width: 100%;
                    justify-content: center;

                    a {
                        width: 90%;
                        font-size: 13px;
                    }

                    h3 {
                        text-align: center;
                    }
                }
            }

            .next {
                margin-top: 30px;
            }
        }
    }

    #container_2 {

        .matrix {
            top: -42px; bottom: -100px; left: 0; right: 0;
        }

        section {

            h2 {
                padding-left: 0;
            }

            .card_wrapper {
                justify-content: center;

                .card {
                    width: 100%;
                }
            }

            .top {
                box-sizing: border-box;
                padding-right: 0;
                width: 100%;
            }
            .bottom {
                box-sizing: border-box;
                padding-left: 0;
                width: 100%;
            }
        }
    }

    #container_3 {
        padding-top: 190px;
        padding-bottom: 70px;

        section {
            width: 87%;

            h2 {
                margin-bottom: 90px;
                padding: 0;
                font-size: 26px;
                line-height: 26px;
                text-align: center;
            }

            article {

                .wrapper {
                    margin-right: 0;
                    width: 100%;

                    .photo {
                        margin: 0 0 30px;
                    }
                }

                .content {
                    width: 100%;
                    margin-top: 50px;
                }
            }
        }
    }

    #modalWindow {

        > div {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 20px 30px;

            .form {
                width: 100%;
                margin-right: 0;

                .header {
                    font-size: 30px;
                    line-height: 30px;
                    margin-top: 0;
                }

                form {

                    button {
                        margin-bottom: 26px;
                        width: 100%;
                        margin-top: 30px;
                    }
                }

                .socials {
                    width: 100%;
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    a {
                        width: 18%;
                        font-size: 12px;
                    }
                }
            }

            .wrapper {
                position: absolute;
                top: 24px; right: 27px;

                .piano {
                    display: none;
                }

                #cross {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}



//                                              Медиа-запрос от 680 до 999 пикселей

@media screen and (min-width: 680px) and (max-width: 999px) {

    #container_1 {
        padding-top: 70px;
        padding-bottom: 90px;
        background-position-x: -510px;

        section {
            width: 87%;
            position: relative;

            .author {
                width: 278px;

                h1 {
                    font-size: 40px;
                }

                p {
                    margin-bottom: 25px;
                }

                #contactButton {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .contacts {
                width: 100%;
                margin-top: 70px;
                align-items: center;

                .socials {
                    width: 90%;
                    justify-content: space-evenly;

                    a {
                        width: 18%;
                        font-size: 12px;
                    }

                    h3 {
                        margin-bottom: 15px;
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }

            .next {
                margin-top: 50px;
            }
        }
    }

    #container_2 {

        .matrix {
            top: -50px; bottom: -98px; left: 0; right: 0;
        }

        section {
            width: 87%;

            h2 {
                padding-left: 0;
            }

            .card_wrapper {
                justify-content: space-evenly;
            }

            .top {
                box-sizing: border-box;
                padding-right: 0;
                width: 100%;
            }
            .bottom {
                box-sizing: border-box;
                padding-left: 0;
                width: 100%;
            }
        }
    }

    #container_3 {
        padding-top: 170px;
        padding-bottom: 70px;

        section {
            width: 87%;

            h2 {
                margin-bottom: 90px;
                padding: 0;
                font-size: 26px;
                line-height: 26px;
                text-align: center;
            }

            article {

                .wrapper {
                    margin-right: 0;
                    width: 100%;

                    .photo {
                        margin: 0 0 30px;
                    }
                }

                .content {
                    width: 100%;
                    margin-top: 50px;
                }
            }
        }
    }

    #modalWindow {

        > div {
            position: relative;
            width: 57%;
            height: 100%;
            padding: 40px 60px;

            .form {
                margin-right: 0;

                .header {
                    font-size: 30px;
                    line-height: 30px;
                    margin-top: 0;
                }

                form {

                    button {
                        margin-bottom: 26px;
                        margin-top: 30px;
                    }
                }

                .socials {
                    width: 100%;

                    a {
                        width: 18%;
                        font-size: 12px;
                    }
                }
            }

            .wrapper {
                position: absolute;
                top: 39px; right: 28px;

                .piano {
                    display: none;
                }
            }
        }
    }
}


//                                             Медиа-запрос от 1000 до 1199 пикселей

@media screen and (min-width: 1000px) and (max-width: 1199px) {

    #container_1 {
        padding-top: 50px;
        padding-bottom: 100px;

        section {
            width: 87%;
            position: relative;

            .author {
                width: 265px;

                h1 {
                    width: 200px;
                    font-size: 40px;
                    margin-bottom: 25px;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 14px;
                }

                #contactButton {
                    display: none;
                }
            }

            .contacts {

                #contactButtonAdaptive {
                    display: block;
                    @include Button;
                    width: 160px;
                    margin-top: 20px;
                    font-size: 13px;
                }
            }

            .next {
                margin-top: 0;
                justify-content: flex-start;
            }
        }
    }

    #container_2 {

        .matrix {
            top: -50px; bottom: -108px; left: 0; right: 0;
        }

        section {
            width: 87%;

            h2 {
                padding-left: 0;
            }

            .card_wrapper {
                justify-content: space-evenly;
            }

            .top {
                box-sizing: border-box;
                padding-right: 0;
                width: 100%;
            }
            .bottom {
                box-sizing: border-box;
                padding-left: 0;
                width: 100%;
            }
        }
    }

    #container_3 {
        padding-top: 170px;
        padding-bottom: 70px;

        section {
            width: 87%;

            h2 {
                margin-bottom: 90px;
                padding: 0;
                font-size: 26px;
                line-height: 26px;
                text-align: center;
            }

            article {

                .wrapper {
                    margin-right: 0;
                    width: 100%;

                    .photo {
                        margin: 0 0 30px;
                    }
                }

                .content {
                    width: 100%;
                    margin-top: 50px;
                }
            }
        }
    }

    #modalWindow {
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        background: rgba(#000, 0.5);
        pointer-events: none;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 101;

        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: #fff;
            padding: 30px 30px 30px 50px;
            box-sizing: border-box;
            width: 100%;

            height: 100%;

            overflow-y: auto;
            overflow-x: hidden;

            .form {
                display: flex;
                flex-direction: column;
                width: 400px;

                .header {
                    @include OpenSans(36px, 800, 39px);
                    margin-top: 0;
                    margin-bottom: 62px;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: "Segoe UI", serif;
                        display: block;
                        font-size: 12px;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                        margin-bottom: 8px;
                    }

                    input {
                        height: 40px;
                        @include FormInputs;
                        margin-bottom: 28px;
                    }

                    textarea {
                        height: 140px;
                        @include FormInputs;
                        resize: none;
                    }

                    button {
                        width: 255px;
                        height: 46px;
                        background: $commonColor;
                        box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
                        border-radius: 6px;
                        cursor: pointer;
                        color: #fff;
                        text-align: center;
                        @include OpenSans(14px, normal, 46px);
                        border-width: 0;

                        margin-top: 25px;
                        margin-bottom: 28px;
                    }
                }

                p {
                    @include OpenSans(14px, normal, 14px);
                    margin: 0 0 13px;
                }

                .socials {
                    width: 310px;
                    @include Socials;
                    flex-wrap: nowrap;

                    a {
                        width: 59px;
                    }
                }
            }

            .wrapper {
                display: flex;
                height: auto;

                .piano {
                    width: 601px;
                    height: 723px;
                    background: url('./static/images/Grand_piano.jpg') no-repeat;
                    background-size: contain;
                }

                #cross {
                    width: 34px;
                    height: 34px;
                    background: url('./static/images/Cross.png') no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }
    }
}
