@import "./static/fonts/Montserrat.css";
@import "./static/fonts/Open_Sans.css";
body {
  margin: 0;
  background: rebeccapurple;
}

#container_1 {
  display: flex;
  justify-content: center;
  background: url("./static/images/Background_1.jpg") top/cover;
  padding-top: 195px;
  padding-bottom: 167px;
}
#container_1 section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1110px;
  max-width: 1110px;
  color: #fff;
}
#container_1 section .author {
  width: 494px;
}
#container_1 section .author h2 {
  margin-top: 9px;
  margin-bottom: 0;
  font-family: OpenSans, serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}
#container_1 section .author h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 53px;
  margin: 12px 0;
}
#container_1 section .author h3 {
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  margin-bottom: 25px;
}
#container_1 section .author p {
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: normal;
  margin-bottom: 85px;
}
#container_1 section .author #contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 46px;
  background: #A406CC;
  box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 0;
  font-weight: normal;
}
#container_1 section .contacts {
  display: flex;
  flex-direction: column;
  width: 185px;
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: normal;
  text-align: justify;
}
#container_1 section .contacts .mail {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#container_1 section .contacts .mail a {
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
#container_1 section .contacts .mail .icon_mail {
  background: url("./static/images/icon-mail.png") no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
#container_1 section .contacts .phone {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
#container_1 section .contacts .phone a {
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
#container_1 section .contacts .phone .icon_phone {
  background: url("./static/images/icon-phone.png") no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
#container_1 section .contacts .socials {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#container_1 section .contacts .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-family: OpenSans, serif;
  font-size: 10px;
  line-height: 0;
  font-weight: normal;
  transition: 500ms;
}
#container_1 section .contacts .socials a:hover {
  transform: scale(1.1, 1.1);
}
#container_1 section .contacts .socials .vk {
  background-color: steelblue;
}
#container_1 section .contacts .socials .instagram {
  background-color: deeppink;
}
#container_1 section .contacts .socials .viber {
  background-color: blueviolet;
}
#container_1 section .contacts .socials .whatsapp {
  background-color: green;
}
#container_1 section .contacts .socials .skype {
  background-color: dodgerblue;
}
#container_1 section .contacts .socials h3 {
  font-family: OpenSans, serif;
  font-size: 13px;
  line-height: 29px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}
#container_1 section .next {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 63px;
}
#container_1 section .next .mouseWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #A406CC;
  box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
  border-radius: 30px;
}
#container_1 section .next .icon_mouse {
  background: url("./static/images/Mouse.png") no-repeat;
  width: 15px;
  height: 26px;
}

#container_2 {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 108px;
  z-index: 100;
}
#container_2 .matrix {
  position: absolute;
  top: -82px;
  bottom: -160px;
  left: 0;
  right: 0;
  background: #fff;
  transform: matrix(1, -0.11, 0, 1, 0, 0);
}
#container_2 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  max-width: 1100px;
  color: #000;
}
#container_2 section h2 {
  position: relative;
  box-sizing: border-box;
  padding-left: 22px;
  font-family: OpenSans, serif;
  font-size: 36px;
  line-height: 39px;
  font-weight: 800;
  margin-bottom: 90px;
  text-align: center;
}
#container_2 section .card_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container_2 section .card_wrapper .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
#container_2 section .card_wrapper .card:hover .tooltip {
  opacity: 1;
}
#container_2 section .card_wrapper .card .item {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-family: OpenSans, serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  border-radius: 6px;
  padding: 15px 20px 15px 0;
  transition: 500ms;
}
#container_2 section .card_wrapper .card .item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
#container_2 section .card_wrapper .card .item .icon_key {
  background: url("./static/images/Skripichnyj_kljuch.png") no-repeat;
  width: 64px;
  height: 64px;
}
#container_2 section .card_wrapper .card .tooltip {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 500ms;
}
#container_2 section .card_wrapper .card .tooltip .text {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: #EEE;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 250px;
}
#container_2 section .card_wrapper .card .tooltip .text h4 {
  font-family: OpenSans, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  margin: 0 0 15px;
}
#container_2 section .card_wrapper .card .tooltip .text p {
  font-family: OpenSans, serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
}
#container_2 section .card_wrapper .card .tooltip .triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #EEE;
}
#container_2 section .top {
  box-sizing: border-box;
  padding-right: 20px;
  width: 98%;
}
#container_2 section .bottom {
  box-sizing: border-box;
  padding-left: 50px;
  width: 90%;
}

#container_3 {
  display: flex;
  justify-content: center;
  background: url("./static/images/Background_2.jpg") top/cover no-repeat;
  background-position-y: 45px;
  color: #fff;
  padding-top: 370px;
  padding-bottom: 140px;
  position: relative;
}
#container_3 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1125px;
  max-width: 1125px;
}
#container_3 section h2 {
  font-family: OpenSans, serif;
  font-size: 36px;
  line-height: 39px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 80px;
  box-sizing: border-box;
  padding-right: 13px;
}
#container_3 section article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
#container_3 section article .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 110px;
}
#container_3 section article .wrapper .photo {
  background: url("./static/images/Client_photo.png") no-repeat;
  background-size: contain;
  width: 239px;
  height: 250px;
  margin-bottom: 31px;
}
#container_3 section article .wrapper #slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container_3 section article .wrapper #slider #number {
  font-family: OpenSans, serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  margin-right: 17px;
}
#container_3 section article .wrapper #slider #left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #A406CC;
  width: 32px;
  height: 32px;
  margin-right: 7px;
  cursor: pointer;
}
#container_3 section article .wrapper #slider #left .icon_stroke {
  background: url("./static/images/Stroke.png") no-repeat;
  width: 10px;
  height: 17px;
  transform: rotate(180deg);
}
#container_3 section article .wrapper #slider #right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #A406CC;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#container_3 section article .wrapper #slider #right .icon_stroke {
  background: url("./static/images/Stroke.png") no-repeat;
  width: 10px;
  height: 17px;
}
#container_3 section article .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 750px;
}
#container_3 section article .content address {
  font-style: normal;
  padding-bottom: 23px;
  border-bottom: 1px solid #fff;
  font-family: OpenSans, serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
#container_3 section article .content p {
  font-family: OpenSans, serif;
  font-size: 16px;
  line-height: 35px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 95px;
}
#container_3 section article .content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  transition: 500ms;
  font-family: OpenSans, serif;
  font-size: 12px;
  line-height: 0;
  font-weight: normal;
}
#container_3 section article .content a:hover {
  transform: scale(1.1, 1.1);
}
#container_3 section article .content .vk {
  background-color: steelblue;
}

#modalWindow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 101;
}
#modalWindow > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  padding: 120px 90px 120px 110px;
  box-sizing: border-box;
  width: 100%;
  height: 893px;
  max-height: 893px;
  overflow-y: auto;
  overflow-x: hidden;
}
#modalWindow > div .form {
  display: flex;
  flex-direction: column;
  width: 445px;
}
#modalWindow > div .form .header {
  font-family: OpenSans, serif;
  font-size: 36px;
  line-height: 39px;
  font-weight: 800;
  margin-top: 65px;
  margin-bottom: 62px;
}
#modalWindow > div .form form {
  display: flex;
  flex-direction: column;
}
#modalWindow > div .form form label {
  font-family: "Segoe UI", serif;
  display: block;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}
#modalWindow > div .form form input {
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
  padding: 5px 10px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 28px;
}
#modalWindow > div .form form textarea {
  height: 140px;
  border: 1px solid #CCC;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
  padding: 5px 10px;
  background: #fff;
  box-sizing: border-box;
  resize: none;
}
#modalWindow > div .form form button {
  width: 255px;
  height: 46px;
  background: #A406CC;
  box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 46px;
  font-weight: normal;
  border-width: 0;
  margin-top: 25px;
  margin-bottom: 28px;
}
#modalWindow > div .form p {
  font-family: OpenSans, serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  margin: 0 0 13px;
}
#modalWindow > div .form .socials {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#modalWindow > div .form .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-family: OpenSans, serif;
  font-size: 10px;
  line-height: 0;
  font-weight: normal;
  transition: 500ms;
}
#modalWindow > div .form .socials a:hover {
  transform: scale(1.1, 1.1);
}
#modalWindow > div .form .socials .vk {
  background-color: steelblue;
}
#modalWindow > div .form .socials .instagram {
  background-color: deeppink;
}
#modalWindow > div .form .socials .viber {
  background-color: blueviolet;
}
#modalWindow > div .form .socials .whatsapp {
  background-color: green;
}
#modalWindow > div .form .socials .skype {
  background-color: dodgerblue;
}
#modalWindow > div .form .socials a {
  width: 59px;
}
#modalWindow > div .wrapper {
  display: flex;
}
#modalWindow > div .wrapper .piano {
  width: 771px;
  height: 893px;
  background: url("./static/images/Grand_piano.jpg") no-repeat;
  background-size: contain;
}
#modalWindow > div .wrapper #cross {
  width: 34px;
  height: 34px;
  background: url("./static/images/Cross.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

#modalWindow.active {
  pointer-events: auto;
  opacity: 1;
}

#upButton {
  position: fixed;
  bottom: 40px;
  right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #A406CC;
  box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
  z-index: 101;
}
#upButton .icon_stroke {
  background: url("./static/images/Stroke.png") no-repeat;
  width: 10px;
  height: 17px;
  transform: rotate(270deg);
}

#upButton.active {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 500px) {
  #container_1 {
    /*display: flex;
    justify-content: center;
    background: url('./static/images/Background_1.jpg') top/cover;
    padding-bottom: 100px;*/
    padding-top: 70px;
  }
  #container_1 section {
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;*/
    width: 87%;
  }
  #container_1 section .author {
    width: 100%;
    /*h2 {
        margin: 0;
        @include OpenSans(16px, normal, 16px);
    }*/
    /*p {
        @include OpenSans(14px, normal, 29px);
        margin-bottom: 40px;
    }*/
  }
  #container_1 section .author h1 {
    /*font-family: Montserrat, sans-serif;
    font-weight: 900;
    line-height: 53px;
    margin: 20px 0;*/
    line-height: 40px;
    font-size: 36px;
    margin: 25px 0;
  }
  #container_1 section .author h3 {
    font-family: OpenSans, serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    margin-bottom: 35px;
  }
  #container_1 section .author #contactButton {
    /* @include Button;*/
    width: 100%;
  }
  #container_1 section .contacts {
    /*display: flex;
    flex-direction: column;
    width: 214px;
    @include OpenSans(14px, normal, 29px);
    text-align: justify;*/
    width: 100%;
    margin-top: 30px;
    align-items: center;
    /*.phone {
                        display: flex;
                        align-items: center;
                        margin-bottom: 40px;
    
                        .icon_phone {
                            background: url('./static/images/icon-phone.png') no-repeat;
                            width: 16px;
                            height: 16px;
                            margin-right: 10px;
                        }
                    }*/
  }
  #container_1 section .contacts .mail {
    /* display: flex;
     align-items: center;
     margin-bottom: 20px;*/
    /*.icon_mail {
        background: url('./static/images/icon-mail.png') no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }*/
  }
  #container_1 section .contacts .socials {
    /*@include Socials;*/
    width: 100%;
    justify-content: center;
  }
  #container_1 section .contacts .socials a {
    width: 90%;
  }
  #container_1 section .contacts .socials h3 {
    /*@include OpenSans(14px, bold, 29px);
    margin-top: 0;
    margin-bottom: 10px;*/
    text-align: center;
  }
  #container_1 section .next {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  #container_1 section .next .mouseWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #A406CC;
    box-shadow: 0 6px 20px rgba(250, 0, 255, 0.35);
    border-radius: 30px;
  }
  #container_1 section .next .icon_mouse {
    background: url("./static/images/Mouse.png") no-repeat;
    width: 15px;
    height: 26px;
  }

  #container_2 {
    /*position: relative;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    z-index: 100;*/
    padding-top: 30px;
  }
  #container_2 .matrix {
    /*position: absolute;
    top: -82px; bottom: -160px; left: 0; right: 0;
    background: #fff;
    transform: matrix(1, -0.1, 0, 1.26, 0, 0);*/
    top: -52px;
    bottom: -72px;
    left: 0;
    right: 0;
  }
  #container_2 section {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
    color: #000;*/
    width: 87%;
  }
  #container_2 section h2 {
    /*position: relative;
    @include OpenSans(36px, 800, 39px);
    margin-bottom: 100px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 22px;*/
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 26px;
    box-sizing: inherit;
    padding-left: 0;
  }
  #container_2 section .card_wrapper {
    /*display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;*/
    justify-content: flex-start;
  }
  #container_2 section .card_wrapper .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;
  }
  #container_2 section .card_wrapper .card:hover .tooltip {
    opacity: 1;
  }
  #container_2 section .card_wrapper .card .item {
    /*display: flex;
    align-items: center;
    text-decoration: none;
    @include OpenSans(22px, bold, 24px);
    color: #000;
    border-radius: 6px;
    padding: 15px 20px 15px 0;
    transition: 500ms;*/
    align-items: center;
    font-size: 18px;
    width: 100%;
    padding-right: 0;
    /*&:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }*/
  }
  #container_2 section .card_wrapper .card .item .icon_key {
    /* background: url('./static/images/Skripichnyj_kljuch.png') no-repeat;
     width: 64px;
     height: 64px;*/
  }
  #container_2 section .top {
    padding-right: 0;
    width: 100%;
  }
  #container_2 section .bottom {
    padding-left: 0;
    width: 100%;
  }

  #container_3 {
    /*display: flex;
    justify-content: center;
    background: url('./static/images/Background_2.jpg') top/cover;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 100px;
    position: relative;*/
    padding-top: 190px;
    padding-bottom: 70px;
  }
  #container_3 section {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;*/
    width: 87%;
  }
  #container_3 section h2 {
    /*@include OpenSans(36px, 800, 39px);
    margin-bottom: 60px;*/
    margin-bottom: 90px;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
  }
  #container_3 section article {
    /*display: flex;
    align-items: flex-start;
    flex-wrap: wrap;*/
  }
  #container_3 section article .wrapper {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    margin-right: 0;
    width: 100%;
    /*#slider {
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            #number {
                                @include OpenSans(30px, 800, 30px);
                                margin-right: 10px;
                            }
    
                            #left {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: $commonColor;
                                width: 30px;
                                height: 30px;
                                margin-right: 8px;
                                cursor: pointer;
    
                                .icon_stroke {
                                    background: url('./static/images/Stroke.png') no-repeat;
                                    width: 10px;
                                    height: 17px;
                                    transform: rotate(180deg);
                                }
                            }
    
                            #right {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: $commonColor;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
    
                                .icon_stroke {
                                    background: url('./static/images/Stroke.png') no-repeat;
                                    width: 10px;
                                    height: 17px;
                                }
                            }
                        }*/
  }
  #container_3 section article .wrapper .photo {
    /*background: url('./static/images/Client_photo.png') no-repeat;
    background-size: contain;
    width: 239px;
    height: 250px;
    margin: 0 60px 50px;*/
    margin: 0 0 30px;
  }
  #container_3 section article .content {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 750px;*/
    width: 100%;
    margin-top: 50px;
    /*address {
                            font-style: normal;
                            padding-bottom: 15px;
                            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                            @include OpenSans(18px, bold, 20px);
                        }
    
                        p {
                            @include OpenSans(16px, normal, 35px);
                            margin-top: 40px;
                            margin-bottom: 80px;
                        }
    
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 75px;
                            height: 40px;
                            text-decoration: none;
                            color: #fff;
                            @include OpenSans(12px, normal, 0);
                        }
                        .vk {
                            background-color: steelblue;
                        }*/
  }

  #modalWindow > div {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
  }
  #modalWindow > div .form {
    width: 100%;
    margin-right: 0;
  }
  #modalWindow > div .form .header {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
  }
  #modalWindow > div .form form button {
    margin-bottom: 26px;
    width: 100%;
    margin-top: 30px;
  }
  #modalWindow > div .form .socials {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #modalWindow > div .form .socials a {
    width: 45%;
  }
  #modalWindow > div .wrapper {
    position: absolute;
    top: 24px;
    right: 20px;
  }
  #modalWindow > div .wrapper .piano {
    display: none;
  }
  #modalWindow > div .wrapper #cross {
    width: 24px;
    height: 24px;
    /*background: url('./static/images/Cross.png') no-repeat;
    background-size: contain;
    cursor: pointer;*/
  }
}

/*# sourceMappingURL=style.css.map */
