@mixin Socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 40px;
        margin-bottom: 10px;
        text-decoration: none;
        color: #fff;
        @include OpenSans(10px, normal, 0);
        transition: 500ms;
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
    .vk {
        background-color: steelblue;
    }
    .instagram {
        background-color: deeppink;
    }
    .viber {
        background-color: blueviolet;
    }
    .whatsapp {
        background-color: green;
    }
    .skype {
        background-color: dodgerblue;
    }
}