body {
    margin: 0;
}

.Container {
    background: midnightblue;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    #Chess {
        width: 1000px;
        height: 1000px;
        padding: 100px;

        display: flex;
        flex-wrap: wrap;

        .Empty {
            width: 100px;
            height: 100px;
            background: darkgreen;
            margin: 0;
        }

        .Letters {
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 50px;
            text-align: center;
            background: darkgreen;
            margin: 0;
        }

        .Numbers {
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 50px;
            text-align: center;
            background: darkgreen;
            margin: 0;
        }

        .Black {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100px;
            height: 100px;
            background: black;
            margin: 0;

            color: wheat;
            line-height: 40px;
            font-size: 20px;
            text-align: center;
        }

        .BlackPeshka {
            width: 60px;
            height: 60px;
            background: url("../../static/BlackPeshka.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .BlackLadya {
            width: 60px;
            height: 60px;
            background: url("../../static/BlackLadya.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .BlackHorse {
            width: 60px;
            height: 60px;
            background: url("../../static/BlackHorse.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .BlackElephant {
            width: 60px;
            height: 60px;
            background: url("../../static/BlackElephant.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .BlackKing {
            width: 60px;
            height: 60px;
            background: url("../../static/BlackKing.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .BlackFerz {
            width: 60px;
            height: 60px;
            background: url("../../static/BlackFerz.png") no-repeat;
            background-size: auto;
            margin: 0;
        }
    }

        .White {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100px;
            height: 100px;
            background: wheat;
            margin: 0;

            line-height: 40px;
            font-size: 20px;
            text-align: center;
        }

        .WhitePeshka {
            width: 60px;
            height: 60px;
            background: url("../../static/WhitePeshka.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .WhiteLadya {
            width: 60px;
            height: 60px;
            background: url("../../static/WhiteLadya.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .WhiteHorse {
            width: 60px;
            height: 60px;
            background: url("../../static/WhiteHorse.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .WhiteElephant {
            width: 60px;
            height: 60px;
            background: url("../../static/WhiteElephant.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .WhiteKing {
            width: 60px;
            height: 60px;
            background: url("../../static/WhiteKing.png") no-repeat;
            background-size: auto;
            margin: 0;
        }

        .WhiteFerz {
            width: 60px;
            height: 60px;
            background: url("../../static/WhiteFerz.png") no-repeat;
            background-size: auto;
            margin: 0;
        }
    }
